<div class="rounded-lg shadow-lg overflow-hidden w-[300px] flex-none bg-white text-black box-border">
  <div>
    <img class="w-full" [src]="card.image_url" alt="">
  </div>
  <div class="px-4 py-3">
    <div class=""><b>{{card.title}}</b></div>
    <div class="text-xs"><span>{{card.subtitle}}</span></div>
    <div class="flex gap-1 flex-col mt-3">
      <button *ngFor="let button of card.buttons" class="bg-slate-700 text-white font-bold py-1 px-2 rounded-md">{{button.title}}</button>
    </div>
  </div>
</div>